<!-- courses/templates/courses/contact.html -->

{% extends 'courses/base.html' %}
{% load static %}

{% block title %}Contact Us - eLEARNING{% endblock %}

{% block content %}
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Contact Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
                <h1 class="mb-5">Get in Touch with Us for Any Inquiry</h1>
            </div>
            <div class="row g-4">
                <!-- Contact Information -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Contact Us</h5>
                    <p class="mb-4">We are here to assist you with any inquiries or support you may need. Feel free to reach out to us through the form below or via other contact methods.</p>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Office</h5>
                            <p class="mb-0">123 Street, New York, USA</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Phone</h5>
                            <p class="mb-0">+012 345 67890</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Email</h5>
                            <p class="mb-0">info@example.com</p>
                        </div>
                    </div>
                </div>
                <!-- Map -->
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d867271.4737796385!2d35.551491473712275!3d31.885420114039395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x436bb2f9aa42fa6b%3A0x13fd5b420b833fd5!2sdam3a%20404!5e0!3m2!1sar!2s!4v1736886715057!5m2!1sar!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- Contact Form -->
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}" class="form-control" placeholder="Your Name" value="{{ form.name.value|default_if_none:'' }}">
                                    <label for="{{ form.name.id_for_label }}">Your Name</label>
                                    {% if form.name.errors %}
                                        <div class="text-danger">
                                            {{ form.name.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control" placeholder="Your Email" value="{{ form.email.value|default_if_none:'' }}">
                                    <label for="{{ form.email.id_for_label }}">Your Email</label>
                                    {% if form.email.errors %}
                                        <div class="text-danger">
                                            {{ form.email.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" name="{{ form.subject.name }}" id="{{ form.subject.id_for_label }}" class="form-control" placeholder="Subject" value="{{ form.subject.value|default_if_none:'' }}">
                                    <label for="{{ form.subject.id_for_label }}">Subject</label>
                                    {% if form.subject.errors %}
                                        <div class="text-danger">
                                            {{ form.subject.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea name="{{ form.message.name }}" id="{{ form.message.id_for_label }}" class="form-control" placeholder="Your Message" style="height: 150px;">{{ form.message.value|default_if_none:'' }}</textarea>
                                    <label for="{{ form.message.id_for_label }}">Your Message</label>
                                    {% if form.message.errors %}
                                        <div class="text-danger">
                                            {{ form.message.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
