<!-- courses/templates/courses/testimonial.html -->

{% extends 'courses/base.html' %}

{% block title %}التوصيات - eLEARNING{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>ما يقوله طلابنا!</h2>
        <div class="row">
            {% for testimonial in testimonials %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{{ testimonial.image.url }}" alt="{{ testimonial.client_name }}" class="rounded-circle" width="60" height="60">
                                <div class="ms-3">
                                    <h5 class="card-title mb-0">{{ testimonial.client_name }}</h5>
                                    <small class="text-muted">{{ testimonial.profession }}</small>
                                </div>
                            </div>
                            <p class="card-text">"{{ testimonial.text }}"</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>لا توجد توصيات متاحة حالياً.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
